/**
* Theme Name: AcerboStrap
* Theme URI: http://www.caccavella.com/
* Description: Tema del sito dell'Istituto Acerbo (Boostrap enabled)
* Version: 0.5
* License: GNU General Public License v2 or later
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
* Text Domain: montezuma
* Author: Francesco Caccavella
* Author URI: http://www.caccavella.com/
*/
body {
    margin: 0 auto;
    padding: 0;
    background: #fff url('/wp-content/themes/acerbostrap/images/grey.png');
    /*background: #fff url('/wp-content/themes/acerbostrap/images/easter_bg.jpg');*/
}

hr.styled {
    border: 0;
    height: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#slider-bg {
    background: #fff url('https://res.cloudinary.com/itcacerbo/image/fetch/w_768,h_336,c_fill/https://www.istitutotecnicoacerbope.edu.it/wp-content/uploads/2014/12/out581.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a img {
    border: none
}

input {
    max-width: 100%
}

.shifter-navigation .searchform {
    padding: 20px 5px;
    margin: 0;
    border-bottom: 1px solid chocolate;
    background-color: #f8f8f8;
}

.fs-navigation-handle.notification:before {
    content: attr(data-content);
    position: absolute;
    background: #5cb85c;
    height: 2.2rem;
    top: 0px;
    left: 16px;
    width: 2.2rem;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
    color: white;
    border: #fff;
    z-index: 1;
    text-indent: 0;
    font-weight: bold;
}

.dotted {
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    background: #fff;
}

.fulled {
    border-bottom: 1px solid gainsboro;
    background: #fff;
    margin: 0 auto;
}

.circolare-loop {
    float: left;
    margin-right: 5px;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    background: lightblue;
}

.lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    background: #f7f7f7 url('/wp-content/themes/acerbostrap/images/loading.gif') no-repeat center;
}

#header {
    background-color: #fff;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

#christmas {
    background: #fff url('/wp-content/themes/acerbostrap/images/christmas.png') 0 0 no-repeat;
    height: 80px;
}

.wp-caption img {
    padding: 10px;
    background: #fff;
    border: solid 2px #cccccc;
}

.wp-caption.alignleft, .wp-caption.alignnone {
    margin-left: -9px
}

.wp-caption.alignright {
    margin-right: -9px
}

.wp-caption-text {
    margin-bottom: 0;
    padding: 5px;
    color: #999999;
    font-size: 14px;
    text-align: center;
}

.default-bg {
    background-color: #fff
}

iframe .player-container {
    border: solid 3px #000000
}

.alignleft {
    float: left;
    margin: 5px 15px 10px 0;
}

.alignright {
    float: right;
    margin: 5px 0 10px 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.gallery-caption {

}

.widget, .post-bodycopy {
    word-wrap: break-word
}

.post-bodycopy :hover .comment-bubble {
    color: #fff;
    text-decoration: none;
    background: url(/wp-content/themes/acerbostrap/images/icons.png) -168px -72px no-repeat;
}

.post-bodycopy .gallery figure a img {
    padding: 0;
    border: 0;
}

.post-bodycopy :hover h2 a .firstpart {
    color: #fb4834
}

.post-bodycopy :hover .thumb-shadow {
    background-position: center bottom
}

.post-bodycopy .comment-bubble {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 8px;
    color: #999;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 27px;
    font-family: arial, sans-serif;
    background: url(/wp-content/themes/acerbostrap/images/icons.png) -168px -108px no-repeat;
    vertical-align: 8px;
}

.post-bodycopy h2 a .firstpart, .post-bodycopy h1 .firstpart {
    color: #000000;
    text-decoration: none;
}

.widget .submit {
    display: none
}

.widget:hover {
    color: #000000
}

.widget > ul {
    border-top: solid 1px #eeeeee
}

.widget > h3 {
    margin: 0 0 15px 0;
    color: #333;
    font-size: 32px;
    line-height: 29px;
}

.widget > h3 > span {

}

.widget ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0;
    list-style: none;
}

.widget ul ul {
    margin-left: 0px;
    padding-left: 0px;
}

.widget a {
    color: #000
}

.widget a:hover {
    color: #fb4834;
    text-decoration: none;
}

.post-bodycopy a:hover {
    text-decoration: underline
}

input, textarea {
    max-width: 100%
}

.post-bodycopy img {
    display: block;
    max-width: 100%;
    height: auto;
}

img.wp-smiley {
    display: inline
}

.img-opaque img {
    opacity: 0.8
}

.img-opaque:hover img {
    opacity: 1
}

.wp-caption {
    width: auto;
    max-width: 100% !important;
    height: auto;
}

embed {
    max-width: 100% !important;
    border: none;
}

blockquote {
    padding-left: 20px;
    margin: 15px 30px 0px 10px;
    color: #777777;
    border-left: 5px solid #dddddd;
}

blockquote p {

}

pre {
    padding: 10px;
    border: dashed 1px #cccccc;
}

#logo-area {
    margin-left: 20px;
    max-width: 620px;
    float: left;
}

#footer-bg {
    padding: 30px 0;
    border-top: solid 1px #ddd;
    background: #fcfcfc;
}

#footer {
    color: #666666;
    text-align: center;
}

.acerbo-entry {
    position: relative
}

.acerbo-entry .title {
    border-bottom: 0;
    background-color: #fff;
}

.page-header {
    margin: 20px 0 20px
}

.post-format {
    display: none;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
    padding: 5px 13px;
    font-size: 10px;
    background: url(/wp-content/themes/acerbostrap/images/icons.png) -120px -144px no-repeat;
    vertical-align: 8px;
}

.thumb-shadow {
    margin-top: 7px;
    margin-left: -6px;
    padding-bottom: 5px;
    background: #fff url(/wp-content/themes/acerbostrap/images/shadow.png) center 50px no-repeat;
}

.post-thumb {
    display: block;
    margin: 0;
    padding: 0;
}

.acerbo__loop .post-thumb {
    border: solid 1px #ccc
}

.acerbo__loop h2 {
    margin-top: 0
}

.acerbo__loop {
    margin-bottom: 20px
}

.post-thumb .img_wrapper {

}

.post-thumb img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.post-thumb a {
    position: relative;
    display: block;
}

.acerbo__loop .post-thumb a {
    margin: 0 auto
}

.post-bodycopy {
    margin-bottom: 20px;
    padding: 0 10px;
}

.post-bodycopy p {
    font-family: -apple-system, "Open Sans", Roboto, AdobeBlank, "Segoe UI", sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
}

.post-bodycopy ul > li, .post-bodycopy ol > li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.post-bodycopy ul > li > ul > li, .post-bodycopy ol > li > ul > li, .post-bodycopy ol > li > ol > li, .post-bodycopy ul > li > ol > li {
    font-size: 1em
}

.post-bodycopy blockquote p {
    font-size: 1em
}

p.post-pagination {
    margin: 20px 0;
    clear: both;
}

p.post-pagination ol {
    margin: 15px 0
}

p.post-pagination a {

}

.post-edit-link {
    display: block;
    margin-top: 10px;
}

.post__loop {
    vertical-align: top
}

.post__loop--date {
    text-align: center;
    display: inline-block;
    width: 10%;
    border-right: 1px solid rgb(153, 153, 153);
    vertical-align: top;
}

.post__loop--excerpt {
    display: inline-block;
    width: 88%;
    padding: 0 10px;
}

.post__loop--excerpt p {
    line-height: 20px;
}

.post-day {
    margin: 4px auto 0px auto;
    font-size: 20px;
    line-height: 20px;
}

.post-month {
    margin: 0px auto;
    font-size: 16px;
    text-transform: uppercase;
}

.post-year {
    margin: 0px auto;
    font-size: 14px;
}

.post-footer {
    margin-top: 10px;
    color: #838383;
}

.post-footer span {
    margin: 0 10px 0 0
}

.post-footer p {
    font-size: 15px
}

.post-footer a {
    padding: 2px 5px;
    border-radius: 2px;
    border: none;
}

.post-footer span:before {
    content: '\A'
}

.post-tags, .post-categories {
    display: inline-block;
    margin: 0;
}

.post-tags i, .post-categories i {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-image: url(/wp-content/themes/acerbostrap/images/icons.png);
}

.post-categories i {
    background-position: -12px -228px
}

.post-tags i {
    background-position: -168px -192px
}

.post-readmore {
    float: right;
    margin-top: -5px;
}

.gallery {
    margin: 20px 0 10px -7px
}

.gallery figcaption {

}

.gallery figure {
    display: inline-block;
    margin: 0 10px 5px 0;
    padding: 7px;
    border: solid 1px #ccc;
    box-shadow: 0 0 10px -5px #ccc;
}

.gallery figure a {
    position: relative;
    display: block;
    text-decoration: none;
    border: 0;
}

.gallery figure a span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 15px 15px 20px -20px #000;
    z-index: 1000;
}

.ie8 .gallery figure {
    margin: 0 10px 10px 0
}

.ie8 .gallery figure a span {
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.image-attachment .post-bodycopy img {
    margin-left: -8px
}

.image-attachment .singlenav {
    margin: 10px 0
}

.image-attachment .singlenav .older a:before {
    content: '\2039\2039 \00a0'
}

.image-attachment .singlenav .newer a:after {
    content: '\00a0 \203a\203a'
}

/* #colorbox, #cboxOverlay, #cboxWrapper {
position: absolute;
top: 0;
left: 0;
z-index: 9999;
overflow: hidden;
}

#cboxOverlay {
position: fixed;
width: 100%;
height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft { clear: left }

#cboxContent { position: relative }

#cboxLoadedContent { overflow: auto }

#cboxTitle { margin: 0 }

#cboxLoadingOverlay, #cboxLoadingGraphic {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer }

.cboxPhoto {
display: block;
float: left;
max-width: none;
margin: auto;
border: 0;
}

.cboxIframe {
display: block;
width: 100%;
height: 100%;
border: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
o-box-sizing: content-box;
}

#cboxOverlay { background: #fff }

#colorbox { }

#cboxTopLeft {
width: 25px;
height: 25px;
background: url(/wp-content/themes/acerbostrap/images/colorbox/border1.png) no-repeat 0 0;
}

#cboxTopCenter {
height: 25px;
background: url(/wp-content/themes/acerbostrap/images/colorbox/border1.png) repeat-x 0 -50px;
}

#cboxTopRight {
width: 25px;
height: 25px;
background: url(/wp-content/themes/acerbostrap/images/colorbox/border1.png) no-repeat -25px 0;
}

#cboxBottomLeft {
width: 25px;
height: 25px;
background: url(/wp-content/themes/acerbostrap/images/colorbox/border1.png) no-repeat 0 -25px;
}

#cboxBottomCenter {
height: 25px;
background: url(/wp-content/themes/acerbostrap/images/colorbox/border1.png) repeat-x 0 -75px;
}

#cboxBottomRight {
width: 25px;
height: 25px;
background: url(/wp-content/themes/acerbostrap/images/colorbox/border1.png) no-repeat -25px -25px;
}

#cboxMiddleLeft {
width: 25px;
background: url(/wp-content/themes/acerbostrap/images/colorbox/border2.png) repeat-y 0 0;
}

#cboxMiddleRight {
width: 25px;
background: url(/wp-content/themes/acerbostrap/images/colorbox/border2.png) repeat-y -25px 0;
}

#cboxContent {
background: #fff;
overflow: hidden;
}

.cboxIframe { background: #fff }

#cboxError {
padding: 50px;
border: 1px solid #ccc;
}

#cboxLoadedContent { margin-bottom: 20px }

#cboxTitle {
position: absolute;
bottom: 0px;
left: 0;
width: 100%;
color: #999;
text-align: center;
}

#cboxCurrent {
position: absolute;
bottom: 0px;
left: 100px;
color: #999;
}

#cboxSlideshow {
position: absolute;
right: 42px;
bottom: 0px;
color: #444;
}

#cboxPrevious {
position: absolute;
bottom: 0px;
left: 0;
color: #444;
}

#cboxNext {
position: absolute;
bottom: 0px;
left: 63px;
color: #444;
}

#cboxLoadingOverlay { background: #fff url(/wp-content/themes/acerbostrap/images/colorbox/loading.gif) no-repeat 5px 5px }

#cboxClose {
position: absolute;
display: block;
right: 0;
bottom: 0;
color: #444;
}

.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF) }
================================================== */
.widget {
    margin-bottom: 30px;
    color: #666666;
    font-size: 14px;
    line-height: 1.3;
}

.widget_categories > ul.dropdown-menu > li, .widget_archive > ul.dropdown-menu > li, .widget_custom_taxonomy_widget > ul.dropdown-menu > li, .widget_meta > ul.dropdown-menu > li {
    float: none;
    width: 100%;
}

.btn-widget {
    font-size: 2em;
    font-family: 'Yanone Kaffeesatz', Helvetica-Light, Roboto, AdobeBlank, sans-serif;
    font-weight: 500;
    white-space: normal;
}

.tagcloud a {
    display: inline-block;
    margin: 0 3px 6px 0;
    padding: 2px 6px 4px 6px;
    color: #333333;
    font-size: 13px;
    border-radius: 2px;
    white-space: nowrap;
    border: solid 1px #ddd;
    background: #fcfcfc;
}

.tagcloud a:hover {
    color: #ffffff !important;
    text-decoration: none;
    border: solid 1px #fb4834;
    background: #fb4834;
}

.bread {
    position: relative;
    margin: -1px auto 0 auto;
}

.breadcrumbs {
    color: #666666;
    font-size: 13px;
}

.breadcrumbs span[property="name"] {
    display: inline-block;
    padding: 0;
    margin-top: -3px;
    vertical-align: middle;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumbs .list-inline > li {
    padding-left: 0;
    padding-right: 0;
}

.breadcrumbs .bc-current, .breadcrumbs .bc-pagenumber {
    margin-left: 10px
}

.breadcrumbs ol {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

.breadcrumbs ol li {
    font-size: 1.1em
}

.breadcrumbs ol li a {
    margin: 0 10px;
    color: #333333;
}

.breadcrumbs ol li a:hover {
    color: #fb4834;
    text-decoration: none;
}

#breadcrumbs1 {
    padding: 8px 15px
}

#breadcrumbs1-bg {
    position: relative;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    background: #f7f7f7;
}

.post-bodycopy ul, .comment-text ul {
    list-style: none
}

.post-bodycopy ul li:before, .comment-text ul li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 5px 0 -18px;
    color: #666;
}

.post-bodycopy ol ol ol, .comment-text ol ol ol {
    list-style: lower-alpha
}

.post-bodycopy dd, .comment-text dd {
    margin-left: 0;
    padding-left: 20px;
}

.quicktags-toolbar {
    margin-bottom: 10px
}

.ed_button {
    margin-right: 5px;
    padding: 3px 8px;
    color: #333333;
    background: #eeeeee;
    border: solid 1px #dddddd;
    border-radius: 3px;
}

.ed_button:hover {
    color: #ffffff;
    background: #fb4834;
    border: solid 1px #fb4834;
    cursor: pointer;
}

.button:hover {
    text-decoration: none
}

.button:active {
    position: relative;
    top: 1px;
}

a.rsslink {
    position: absolute;
    display: block;
    top: 60px;
    right: 30px;
    width: 24px;
    height: 24px;
    background-image: url(/wp-content/themes/acerbostrap/images/icons.png);
    background-position: -120px -48px;
}

a.rsscommentslink {
    float: right;
    margin-top: 5px;
    margin-right: 8px;
}

.page-title {
    margin: 10px 0;
    color: #999999;
    font-size: 24px;
}

.page-title span {
    color: #000000
}

.credit-link {
    margin-top: 30px;
    margin-bottom: 0;
    color: #aaaaaa;
    font-size: 13px;
}

.credit-link a {
    color: #aaaaaa;
    font-weight: bold;
    text-decoration: none;
}

.sub-menu:before, .sub-menu:after, .cf:before, .cf:after, .lw:before, .lw:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.sub-menu:after, .cf:after, .lw:after {
    clear: both
}

.sub-menu, .cf, .lw {
    min-width: 0;
    display: inline-block;
    display: block;
}

* html .sub-menu, * html .cf, * html .lw {
    height: 1%
}

.sub-menu:after, .cf:after, .row:after, .row20:after, .lw:after {
    clear: both
}

/* *****************************************************************
PRINCIPALE
*****************************************************************
==================================================
================================================== */
#mbCont {
    padding: 0;
    margin: 0;
}

.maxistop {
    max-width: 1280px;
    min-width: 1170px;
    width: 100%;
}

.title {
    padding: 10px 20px;
    color: black;
    border-bottom: 1px solid #dfdfdf;
    background: #f5f1ee;
    margin: 0;
}

.padded-side {
    padding-right: 5.725190839%;
    padding-left: 5.725190839%;
}

.contenuti {
    padding: 20px
}

.compensate-bs {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.nopad-left {
    padding-left: 0 !important
}

.nopad-right {
    padding-right: 0 !important
}

.bd-left {
    border-left: 1px solid gainsboro
}

.bd-right {
    border-right: 1px solid gainsboro
}

.centered {
    margin: 0 auto
}

#topsearch {
    display: none;
    padding: 30px;
}

.rsswidget img {
    display: none
}

.post-list {
    padding: 30px 20px 0 20px
}

.circolare-head {
    padding: 10px 0;
    font-size: 25px;
}

/* *****************************************************************
BLOCCHETTI
*****************************************************************
==================================================
================================================== */
.blocchetto {
    padding: 0 20px
}

/* *****************************************************************
LIFESTREAM
*****************************************************************
==================================================
================================================== */
.lifestream {
    background: #ffffff;
    color: #000;
}

.lifestream a {
    text-decoration: none;
    color: #fa2b13;
}

.lifestream a:hover {
    text-decoration: underline;
    color: #be1604;
}

.lifestream ul {
    padding: 0
}

.lifestream li {
    padding: 5px 3px 5px 25px;
    background-repeat: no-repeat;
    background-position: left center;
    list-style: none;
    margin-left: 0px;
    min-height: 40px;
}

.lifestream li:before {
    position: absolute;
    top: 2px;
    left: -5px;
    font-size: 1.9em;
}

.lifestream-facebook_page, .lifestream-twitter, .lifestream-youtube, .lifestream-rss {
    position: relative
}

.lifestream-facebook_page:before {
    content: "\f082";
    font-family: FontAwesome;
    color: #3B5998;
}

.lifestream-twitter:before {
    content: "\f081";
    font-family: FontAwesome;
    color: #00aced;
}

.lifestream-youtube:before {
    content: "\f166";
    font-family: FontAwesome;
    color: #bb0000;
}

.lifestream-rss:before {
    content: "\f05d";
    font-family: FontAwesome;
    color: #0072b1;
}

/* *****************************************************************
SOCIAL
*****************************************************************
==================================================
================================================== */
.post-share {
    margin-top: 10px;
    color: #838383;
}

.post-share.post-share-home a.share-link {
    margin-left: 0;
    margin-right: 15px;
}

a.share-link {
    margin-left: 25px;
}

.post-share a .icon-facebook {
    color: #3b5998;
    opacity: 0.6;
}

.post-share a .icon-twitter {
    color: #00aced;
    opacity: 0.6;
}

.post-share a .icon-googleplus {
    color: #C63D2D;
    opacity: 0.6;
}

.post-share a .icon-telegram:hover {
    opacity: 1;
}

.post-share a .icon-facebook:hover {
    opacity: 1;
}

.post-share a .icon-twitter:hover {
    opacity: 1;
}

.post-share a .icon-googleplus:hover {
    opacity: 1;
}

.icon-telegram {
    color: #0088cc
}

.icon-facebook {
    color: #3b5998
}

.icon-twitter {
    color: #00aced
}

.icon-googleplus {
    color: #C63D2D
}

.fa-telegram-plane {
    color: #0088cc
}

.fa-facebook-square {
    color: #3B5998
}

.fa-youtube-square {
    color: #bb0000
}

.fa-instagram {
    color: #e4405f
}

.fa-rss-square {
    color: #FF6600
}

.fa-twitter-square {
    color: #00aced
}

#breadcrumbs-follow {
    position: absolute;
    top: 5px;
    right: 20px;
}

.social-follow a {
    margin-left: 10px
}

.social-follow span {
    display: table-cell;
    font-size: 15px;
    vertical-align: middle;
}

/* *****************************************************************
IMMAGINI
*****************************************************************
==================================================
================================================== */
.shadow {
    position: relative;
    display: block;
}

.shadow::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}

/* *****************************************************************
HEADER E BANNER
*****************************************************************
==================================================
================================================== */
#sitetitle {
    margin: 0;
    font-weight: 300;
    font-family: 'Yanone Kaffeesatz', Helvetica-Light, Roboto, AdobeBlank, sans-serif;
}

#tagline {
    margin: 0;
    color: #4f4f4f;
    font-size: 1.5em;
    font-weight: 200;
    font-family: 'Yanone Kaffeesatz', Helvetica-Light, Roboto, AdobeBlank, sans-serif;
}

#avviso .alert {
    margin-top: 20px;
    font-size: 16px;
}

#avviso {
    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s;
    height: 100%;
}

#avviso .avviso_badge {
    position: absolute;
    top: 0;
    right: 15px;
    border-bottom: 1px solid #faebcc;
    border-left: 1px solid #faebcc;
    border-right: 1px solid #faebcc;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 2px 10px;
    background-color: #fcf8e3;
    color: #8a6d3b;
    cursor: pointer;
}

#tagline, #sitetitle a, #sitetitle a .firstpart {
    color: #333
}

#sitetitle a .firstpart {
    color: #000000
}

#sitetitle a:hover, #sitetitle a:focus {
    text-decoration: none;
    color: #fb4834;
}

.navbar-default .navbar-brand {
    font-family: 'Oswald', 'HelveticaNeue-CondensedBlack', sans-serif;
    font-size: 2em;
    color: #333;
}

/* *****************************************************************
MENU
*****************************************************************
==================================================
================================================== */
#main-menu .menu-item-hidden {
    display: none
}

#main-menu.stuck .menu-item-hidden {
    display: block
}

.menu-wrapper {
    position: relative
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 33px;
}

.menu ul {
    position: absolute;
    float: left;
    left: -999em;
    height: auto;
}

.menu ul li {
    float: none;
    width: 100%;
}

.menu ul li {
    display: inline-block;
    width: auto;
}

.menu ul ul {
    margin-top: -33px;
    margin-left: 150px;
}

.menu ul {
    position: relative;
    float: none;
    left: 0;
    height: auto;
}

.menu li {
    display: block;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
}

.menu li:hover ul, .menu li li:hover ul, .menu li li li:hover ul, .menu li li li li:hover ul, .menu li li li li li:hover ul, .menu li li li li li li:hover ul, .menu li li li li li li li:hover ul, .menu li li li li li li li li:hover ul {
    left: auto;
    z-index: 100000;
}

.menu li:hover ul ul, .menu li:hover ul ul ul, .menu li:hover ul ul ul ul, .menu li:hover ul ul ul ul ul, .menu li:hover ul ul ul ul ul ul, .menu li:hover ul ul ul ul ul ul ul {
    left: -999em
}

#menu1, #menu1-smooth {
    display: table;
    margin: 0 auto;
}

#menu1 .sub-menu, #menu1-smooth .sub-menu {
    padding: 15px 0;
    font-size: 1.2em;
    list-style: none;
    background: #fff;
    border: solid 1px #ddd;
    border-top: 0;
    box-shadow: 5px 5px 20px -15px #000;
}

#menu1 .sub-menu .sub-menu, #menu1-smooth .sub-menu .sub-menu li:first-child {
    margin-top: -38px
}

#menu1 .sub-menu li, #menu1-smooth .sub-menu li {
    border-top: solid 1px #eee
}

#menu1 .sub-menu li:first-child, #menu1-smooth .sub-menu li:first-child {
    border-top: none
}

#menu1 .sub-menu a, #menu1-smooth .sub-menu a {
    padding: 5px 0
}

#menu1 > ul > li > ul {
    margin-left: -20px
}

#menu1 .sub-menu {
    min-width: 70%;
    margin: 0 auto;
    min-height: 60px;
}

#menu1 a, #menu1-smooth a {
    color: #000;
    font-weight: 500;
    font-family: 'Yanone Kaffeesatz', Helvetica-Light, Roboto, AdobeBlank, sans-serif;
    line-height: 1.3em;
}

.menu ul a, #menu1-smooth a, #menu2-smooth a {
    width: 150px;
    white-space: normal;
}

.menu ul a, #menu1-smooth a, #menu2-smooth a {
    display: inline-block;
    min-width: 60px;
    width: auto;
    white-space: normal;
}

#menu1 ul a, #menu1-smooth a {
    font-size: 1.2em
}

#menu1 > li {
    border-top: solid 5px transparent
}

.menu a, #menu1-smooth a, #menu2-smooth a {
    display: block;
    width: auto;
    padding: 0 8px;
    text-decoration: none;
    white-space: nowrap;
}

#menu1 a:hover, #menu1-smooth a:hover, #menu1 .active a, #menu1-smooth .active a {
    color: #fb4834
}

#menu1 > li {
    background: transparent url(/wp-content/themes/acerbostrap/images/menuline.png) 0 center no-repeat
}

#menu1 > li > a span.firstpart {
    color: #ccc
}

#menu1 > li:first-child {
    background: none
}

#menu1 > li:hover, #menu1 > li.active, #menu1 > li.ancestor {
    border-top: solid 5px #fb4834
}

#menu1 .sub-menu li {
    border: 0
}

#menu1 .sub-menu a {
    text-align: left
}

#menu1 .sub-menu > li > a {
    padding: 5px 10px;
    font-weight: 500;
    font-family: 'Yanone Kaffeesatz', Helvetica-Light, Roboto, AdobeBlank, sans-serif;
    line-height: 1.3em;
}

#menu1 .sub-menu li:after {
    content: '•'
}

#menu1 .sub-menu li:last-child:after {
    content: ''
}

.menu1-mobile {
    display: none;
    width: 90%;
    margin: 20px auto 30px auto;
    padding: 10px;
    font-size: 20px;
}

#menu2-bg {
    margin-bottom: 10px;
    border-bottom: solid 1px #dddddd;
    background: #fcfcfc;
}

#menu2 a {
    color: #333333
}

#menu2 a:hover, #menu2 .active a, #menu2 .active a {
    color: #fb4834
}

#menu2 ul {
    padding: 5px 10px;
    background: hsla(36, 100%, 100%, 0.95);
    border: solid 1px #dddddd;
    box-shadow: 5px 5px 20px -15px #000000;
}

#menu2 ul a {
    padding: 0
}

#menu2 ul li {
    border-top: solid 1px #eeeeee
}

#menu2 ul li:first-child {
    border-top: none
}

#menu2 ul ul {
    margin-top: -39px
}

#menu2-wrapper .menu li {
    border-right: 1px solid grey
}

#menu2-wrapper .menu li:last-child {
    border-right: 1px solid white
}

#menu2-wrapper ul.menu {
    display: table;
    float: right;
    margin: 0 auto;
    background: white;
    font-family: 'Yanone Kaffeesatz', Helvetica-Light, Roboto, AdobeBlank, sans-serif;
}

#menu2 > li > a {
    padding: 0 10px
}

.singlenav {
    margin-top: 10px
}

.singlenav .older {
    float: left
}

.singlenav .newer {
    float: right
}

#singlenav2 {
    margin-top: 18px;
    padding-top: 13px;
    border-top: 3px solid #ededed;
    border-bottom: 0px none #f5f5f5;
}

.multinav {
    padding-left: 20px;
    margin: 20px 0;
}

.multinav .current {
    background: #ffffff
}

.multinav a, .multinav span {
    display: inline-block;
    padding: 3px 12px;
    text-decoration: none;
    border: solid 1px #ddd;
    background: #fcfcfc;
}

.multinav a:hover {
    color: #ffffff;
    background: #fb4834;
    border: solid 1px #fb4834;
}

#multinav1 {
    margin-bottom: 0;
    border-bottom: solid 1px #dddddd;
}

#multinav1 .current {
    border-bottom: solid 1px #ffffff
}

#multinav1 a, #multinav1 span {
    margin-bottom: -1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#multinav2 {
    border-top: solid 1px #dddddd
}

#multinav2 .current {
    border-top: solid 1px #ffffff
}

#multinav2 a, #multinav2 span {
    margin-top: -1px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main-menu.stuck {
    position: fixed;
    top: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    z-index: 100;
    max-width: 100% !important;
}

#menu-area {
    max-width: 400px;
    float: right;
    margin-right: 20px;
}

.custom-sub {
    position: absolute;
    display: none;
    left: 0;
    width: 100%;
    padding: 1px 3px;
    text-align: center;
    z-index: 100;
}

.custom-sub.open {
    display: block
}

/* *****************************************************************
MENU OFF CANVAS
*****************************************************************
==================================================
================================================== */
.mobile_navigation #menu-menu-principale, .mobile_navigation #menu-menu-circolari {
    margin: 0;
    padding: 0;
}

.mobile_navigation .menu-item-has-children ul {
    padding-left: 10px
}

.mobile_navigation .menu-item a {
    display: block;
    color: #333;
    font-size: 1.3em;
    font-weight: 300;
    font-family: "Oswald", "HelveticaNeue-CondensedBlack", sans-serif;
    text-decoration: none;
    border-bottom: 1px solid chocolate;
    padding: 1em;
}

.mobile_navigation .menu-item.menu-item-circolari ul li a {
    font-size: 1em;
    font-weight: 300;
    font-family: "Open Sans", AdobeBlank, "Segoe UI", sans-serif;
    border-bottom: 0;
    padding: 10px;
}

.mobile_navigation .menu-item a:active, .mobile_navigation .menu-item a:hover, .mobile_navigation .menu-item a:focus {
    color: #333;
    text-decoration: none;
}

.mobile_navigation .slider-menu li {
    display: block
}

body.fs-navigation-lock .mobile_navigation {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* *****************************************************************
OWL CAROUSEL
*****************************************************************
==================================================
================================================== */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.owl-carousel.owl-appuntamenti {
    display: block;
}

.owl-slider.owl-carousel {
    -webkit-box-shadow: 0 8px 10px -8px black;
    -moz-box-shadow: 0 8px 10px -8px black;
    box-shadow: 0 8px 10px -8px black;
}

.owl-partner .owl-stage-outer, .owl-certificazioni .owl-stage-outer, .owl-appuntamenti .owl-stage-outer {
    padding: 15px 0
}

.owl-partner.owl-carousel .owl-item img {
    webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
    max-width: 200px;
}

.owl-partner.owl-theme .owl-controls, .owl-certificazioni.owl-theme .owl-controls, .owl-appuntamenti.owl-theme .owl-controls {
    position: static
}

.owl-partner.owl-theme .owl-nav, .owl-certificazioni.owl-theme .owl-nav {
    margin: 0
}

.owl-carousel .progress {
    height: 2px;
    margin: 0;
}

.owl-certificazioni .owl-item {
    padding: 0 5px
}

.owl-carousel .progress-bar {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.owl-theme .owl-controls {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 25%;
    right: 25%;
    top: 85%;
}

.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: darkgray;
    font-size: 1em;
    margin: 15px 5px;
    padding: 4px 15px;
    background: #f5f1ee;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 1px solid #dfdfdf;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #666;
    width: 8px;
    height: 8px;
    margin: 0 5px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #f48d18
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #be1604
}

.owl-slider.owl-theme .owl-dots .owl-dot.active span, .owl-slider.owl-theme .owl-dots .owl-dot:hover span {
    width: 13px;
    height: 13px;
    box-shadow: inset 0 1px 3px -1px #EE3917, 0 1px 2px rgba(0, 0, 0, .5);
    background: rgb(242, 205, 21); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242, 205, 21, 1) 0%, rgba(244, 141, 24, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 205, 21, 1)), color-stop(100%, rgba(244, 141, 24, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242, 205, 21, 1) 0%, rgba(244, 141, 24, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242, 205, 21, 1) 0%, rgba(244, 141, 24, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(242, 205, 21, 1) 0%, rgba(244, 141, 24, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(242, 205, 21, 1) 0%, rgba(244, 141, 24, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2cd15', endColorstr='#f48d18', GradientType=0); /* IE6-9 */
}

.owl-slider.owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    margin: 5px 7px;
    background: #fff;
}

.slider-bg {
    height: 100%
}

.page-swipe {
    position: relative;
    margin: 0 auto;
}

.page-swipe .swipe-over {
    width: 45%;
    margin: 0;
    z-index: 1;
    padding: 20px 30px 0 30px;
    color: white;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 66%, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.93)), color-stop(66%, rgba(0, 0, 0, 0.63)), color-stop(96%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 66%, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 66%, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 66%, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 66%, rgba(0, 0, 0, 0) 96%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed000000', endColorstr='#00000000', GradientType=0);
    position: absolute;
    top: 0;
    left: 0;
}

.page-swipe .swipe-over h1 {
    font-size: 3em;
    margin: 0 0 0.67em 0;
    font-family: 'Oswald', sans-serif;
}

.page-swipe .swipe-over p {
    font-family: 'Yanone Kaffeesatz', Helvetica-Light, Roboto, AdobeBlank, sans-serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.1em;
    color: white;
}

.page-swipe .owl-carousel div.wrap {
    max-width: 1280px;
    display: block;
    position: relative;
}

.page-swipe nav {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 1;
    max-width: 680px;
}

.page-swipe nav a {
    text-align: center;
    display: none;
}

.page-swipe nav .fa-stack {
    color: #F48D18;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.page-swipe nav .fa-stack:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.wrap a span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* edit: added z-index; */
    z-index: 100;
}

/* *     Default theme - Owl Carousel CSS File
================================================== */
.owl-theme .owl-nav [class*='owl-']:hover {
    background: #fa2b13;
    color: white;
    text-decoration: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

/* *****************************************************************
Grid Itema
*****************************************************************
==================================================
================================================== */

.grid-item {
    background: white;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    margin: 15px 0;
    border-radius: 2px;
}

.grid-item img {
    border-radius: 2px 2px 0 0;
}

.grid-item .grid-paragraph {
    padding: 0 10px;
}

.grid-item .label-primopiano {
    margin-left: 10px;
    font-size: 67%;
    font-weight: 400;
}

.grid-item .post-share {
    padding: 0 0 10px 0;
    text-align: right;
    margin-top: 0;
}

.page-template-page-corsi .grid-item .grid-paragraph {
    padding: 0 10px 10px 10px;
}

/* *****************************************************************
IN PRIMO PIANO
*****************************************************************
==================================================
================================================== */

#inprimopiano .grid-container {
    padding: 5px 0 10px 0;
}

#inprimopiano .grid-item h2 {
    font-size: 23px;
}

#inprimopiano .grid-item.grid-item--width2 h2 {
    font-size: 30px;
}

#inprimopiano .grid-item .styled {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}

#inprimopiano .grid-item .post-share span {
    padding: 5px 0 10px 0;
    display: block;
}

/******************************************************************
ZACCORDION
******************************************************************/
/*#featured .slider-media {
  box-shadow: 0 0 12px #000
}
#featured .slider-media-closed strong {
  margin-bottom: 5px;
  font-size: 18px;
}
#featured .slider-media-open strong {
  color: #fff;
  font-size: 22px;
}
#featured .slider-media-closed .featured-text p {
  display: none
}
#featured .slider-media-closed .featured-text h2 {
    font-size: 20px;
}
#featured div.featured-text p {
  display: block;
  padding: 0 10px;
  line-height: 1.4em;
  margin: 0;
}*/
/******************************************************************
NEWSLETTER
******************************************************************/
#newsletterForm {
    margin-top: 20px
}

#newsletterForm ul {
    padding: 0;
    margin: 0;
}

/******************************************************************
PULSANTI PER PDF E DOCUMENTI
******************************************************************/
.post-bodycopy .doctitle {
    font-weight: 300;
    line-height: 1.1;
    color: black;
    padding: 5px 0;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    margin: 30px 0 10px 0;
}

.post-bodycopy .doctitle a {
    color: #000
}

.post-bodycopy .doctitle a:hover {
    text-decoration: underline
}

.post-bodycopy .doctitle a:focus {
    text-decoration: none
}

.post-bodycopy .doctitle .fa-stack {
    font-size: 0.8em;
    opacity: 0.3;
}

.htmldownload, .phpdownload {
    display: none
}

.docframe {
    display: none;
    text-align: center;
}

.docframe .progress-bar {
    -webkit-transition: width 5s ease-in-out;
    -moz-transition: width 5s ease-in-out;
    -ms-transition: width 5s ease-in-out;
    -o-transition: width 5s ease-in-out;
    transition: width 5s ease-in-out;
}

.doc__button {
    opacity: 0.3;
    font-family: "Open Sans", AdobeBlank, "Segoe UI", sans-serif;
}

.doctitle.open .fa-stack {
    opacity: 1
}

.doctitle.open .doc__button {
    opacity: 1
}

.doctitle:hover .fa-stack {
    opacity: 1
}

.doctitle:hover .doc__button {
    opacity: 1
}

.doc__button button {
    margin-left: 10px
}

.doc__button a {
    color: black
}

.fa-color-word {
    color: #4986E7
}

.fa-color-excel {
    color: #16A764
}

.fa-color-powerpoint {
    color: #FF7537
}

.fa-color-pdf {
    color: #FB4C2F
}

.fa-color-archive {
    color: #FEA727
}

/******************************************************************
AGGIORNAMENTI
******************************************************************/
#aggiornamenti {
    margin-bottom: 20px
}

#tab-container ul.nav-pills {
    margin: 20px 0 50px 0
}

ul.nav-pills li {
    font-family: 'Yanone Kaffeesatz', Helvetica-Light, Roboto, AdobeBlank, sans-serif;
    line-height: 1.1;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.nav-pills li.active {
    text-decoration: overline;
    color: #fff;
}

#aggiornamenti .label-new, #menu1-wrapper .label-new {
    color: #5cb85c
}

#menu1-wrapper {
    position: relative;
    right: 0;
    bottom: 0;
    margin: 0 auto -1px auto;
    border-bottom: solid 1px #ccc;
    background: #fff;
}

#menu1-wrapper .label {
    margin-left: 5px;
    padding: .2em .4em .3em;
    font-weight: 300;
    position: relative;
    top: -2px;
    font-family: "Open Sans", AdobeBlank, "Segoe UI", sans-serif;
}

.mobile_navigation .label {
    margin-left: 5px;
    font-size: 15px;
    padding: .3em .5em .2em;
}

/******************************************************************
FASTLINK
******************************************************************/
.fastlink .col3-img {
    position: relative;
    margin: 20px auto 10px auto;
}

.fastlink .col3-img .page-about {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.fastlink .col3-img .page-about h3 {
    margin: 0
}

.fastlink .col3-img .page-about a {
    color: white
}

.fastlink .page-about > h3 > a > i {
    background-position: 0px -1464px
}

.fastlink .col3 {
    height: 190px;
    padding: 0 15px;
    background: transparent url(/wp-content/themes/acerbostrap/images/menuline_2.png) 0 center no-repeat;
}

.fastlink > div.col3:first-child {
    background: none
}

#inevidenza .fastlink h3 {
    text-align: center
}

#certificazioni > p, #sliderpartner > p {
    margin: 20px 0 10px 0
}

.ratio-container {
    position: relative
}

.ratio-container:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    content: "";
}

.ratio-container > *, .ratio-container > picture > *, .partner-container > picture > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.inevidenza-container:after {
    padding-bottom: 56%
}

.partner-container:after {
    padding-bottom: 22.5%
}

.slider-container:after {
    padding-bottom: 31%
}

/******************************************************************
CALENDARIO APPUNTAMENTI
******************************************************************/
#appuntamenti .appuntamento.elapsed {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.calendar-card {
    background: #fff;
    border: 1px solid #fff9f0;
    -webkit-box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    position: relative;
}

.calendar-inner-card p.event-content {
    margin-top: 10px;
    height: 150px;
    padding: 0 10px;
}

.calendar-inner-card p.event-content img {
    width: 100%;
}

.calendar-inner-card h3 {
    margin: 0;
    margin-left: -7px;
    margin-right: -7px;
    border-bottom: 1px solid gainsboro;
    padding: 7px;
}

.calendar-inner-card {
    margin: 7px
}

p.event-date {
    margin: 0 0 5px;
    font-style: italic;
}

p.event-city {
    font-style: italic;
    margin: 0 0 5px;
}

/******************************************************************
ARCHIVI
******************************************************************/

.hp_text {
    padding: 25px 50px;
}

/******************************************************************
ARCHIVI
******************************************************************/
.archive-bodycopy {
    padding: 30px 0 0 0
}

/******************************************************************
BANNER STRIPE
******************************************************************/
#banner {
    margin: 0;
    height: 60px;
}

#banner ul {
    list-style: none;
    display: inline-table;
    margin: 0;
    padding: 0;
    line-height: 0;
    background-color: #3A5E3B;
    width: 100%;
    border-bottom: solid 1px #ccc;
}

#banner ul li {
    display: inline-block;
}

#banner ul li div {
    display: block;
    float: left;
    height: 60px;
    background-color: #3A5E3B;
    text-align: center;
    padding: 13px 20px 0 50px;
    position: relative;
    margin: 0 2px 0 0;
    color: #fff;
    line-height: 30px;
}

#banner ul li div a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: Yanone Kaffeesatz, Helvetica-Light, Roboto, AdobeBlank, sans-serif;
}

#banner ul li div span.teaser a {
    text-decoration: none;
    font-size: 20px;
    color: #3A5E3B;
    text-transform: uppercase;

}

#banner ul li div:after {
    content: "";
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 25px solid #3A5E3B;
    position: absolute;
    right: -25px;
    top: 0;
    z-index: 1;
}

#banner ul li div:before {
    content: "";
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 25px solid #d4f2ff;
    position: absolute;
    left: 0;
    top: 0;
}

#banner ul li:first-child div {
    background-color: #fff;
    margin: 0;
    padding: 13px 10px 0 20px;
}

#banner ul li:first-child div:after {
    border-left: 25px solid #fff;
}

#banner ul li:first-child div:before {
    display: none;
}

#banner ul li:last-child div {
    padding: 13px 0 0 50px;
    margin: 0;
}

#banner ul li div.linker:hover {
    background: #be1604;
}

#banner ul li div.linker:hover:after {
    border-left-color: #be1604;
}

/*
.banner {
    border-bottom: solid 1px #ccc;
}

.banner p {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.banner p a {
    font-size: 50px;
    color: #333;
    font-style: italic
}
*/


/******************************************************************
STRIPE DOCENTE
******************************************************************/

#docente {
    background-color: #fff;
    margin: 0;
    padding: 10px 0 15px 0;
}

#docente div.owl-item a {
    font-size: 26px;
    color: black;
}

#docente div.owl-item a span {
    font-size: 20px;
    color: black;
}

div.left {
    float: left;
    width: 25%;
}

div.right {
    float: left;
    width: 75%;
}

#docente .owl-theme .owl-controls {
    top: 25%;
    right: 0;
    left: 85%;
    background-color: white;
}

#docente .owl-prev {
    margin: 0 5px 0 0;
}

#docente .owl-next {
    margin: 0 0 0 5px;
}

#docente .owl-carousel .owl-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#docente a {
    color: #666;
    text-decoration: none;
    font-size: 23px;
    font-family: Yanone Kaffeesatz, Helvetica-Light, Roboto, AdobeBlank, sans-serif;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
}

/******************************************************************
VIDEO FULL
******************************************************************/
.fullvideo-header-container {
    position: relative;
    overflow: hidden;
}

.fullvideo-header-container:hover .fullvideo-video-close {
    top: 0px
}

.fullvideo-header-container:hover .fullvideo-page-container {
    bottom: 0px
}

.fullvideo-video-playing {
    height: auto;
    width: 100%;
    top: -50px;
    position: absolute;
}

.fullvideo-video-container {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.fullvideo-page-container {
    position: absolute;
    z-index: 100;
    bottom: -50px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 50px;
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
}

.fullvideo-page-container p {
    width: 80%;
    margin: 0 auto;
    text-shadow: 0 1px 1px black;
}

.fullvideo-page-container h2 {
    font-size: 2.5em;
    font-family: Oswald, sans-serif;
    text-shadow: 0 1px 1px black;
    margin: 0;
    padding: 5px 20px;
    display: inline-block;
    color: whitesmoke;
}

.fullvideo-video-icon {
    line-height: 50px;
    padding: 0 10px;
}

.fullvideo-video-close {
    position: absolute;
    top: -50px;
    right: 0;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
}

.fullvideo-video-close a {
    text-decoration: none;
    color: whitesmoke;
}

.fullvideo-video-mute, .fullvideo-video-pause {
    cursor: pointer;
}

.fullvideo-video-camera i.fa-circle.fb {
    color: #3b5998;
}

.fullvideo-video-camera i.fa-circle.tw {
    color: #00aced;
}

.fullvideo-video-icon a {
    text-decoration: none;
}

/******************************************************************
Formstone
******************************************************************/

.acerbostrap .fs-lightbox {
    z-index: 1031;
}

.fs-navigation-handle.fs-navigation-enabled {
    width: 40px;
    height: 40px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    float: right;
    margin-right: 15px;
}

.fs-navigation-handle.fs-navigation-enabled:after {
    height: 4px;
    width: 24px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #666;
    box-shadow: 0 7px 0 #666, 0 -7px 0 #666;
    content: '';
    display: block;
    margin: auto;
}

.fs-navigation-handle.fs-navigation-open:after {
    content: "\00d7";
    background: transparent;
    box-shadow: none;
    font-size: 40px;
    line-height: 4px;
    color: #666;
}

.fs-navigation-nav.fs-navigation-open, .fs-navigation-reveal-nav.fs-navigation-open, .fs-navigation-overlay-nav.fs-navigation-open {
    width: 270px;
    height: 100%;
    top: 55px;
    z-index: 400;
}

.fs-navigation-overlay-content:before {
    z-index: 9;
}

/******************************************************************
COMMENTI
******************************************************************/
/* #comments {
padding-top: 20px;
border-top: solid 1px #dddddd;
}
#comments-title {
margin: 0 0 20px 0;
color: #999999;
font-size: 28px;
}
#comments-title span { color: #000000 }
.commentlist {
margin: 20px 0;
padding: 0;
background: #ffffff;
list-style: none;
}
.commentlist .pingback { margin-bottom: 20px }
.commentlist .avatar {
position: absolute;
top: 3px;
left: -80px;
border-radius: 50%;
box-shadow: 0 0 0 3px #cccccc;
}
.commentlist li { padding: 0px }
.commentlist li li .avatar { left: -70px }
.commentlist li > div {
position: relative;
margin-bottom: 20px;
margin-left: 85px;
padding: 20px 20px 3px 20px;
border: solid 1px #dddddd;
background: #fcfcfc;
border-radius: 5px;
}
.commentlist li > div:before {
position: absolute;
top: 25px;
left: -17px;
content: url(/wp-content/themes/acerbostrap/images/commentarrow.png);
z-index: 1000000;
}
.commentlist li > div:hover { background: #ffffff }
.commentlist li > div:hover > .comment-reply-link { color: #fb4834 }
.commentlist li > div:hover .comment-date-link a { color: #fb4834 }
.commentlist li > div:hover:before { content: url(/wp-content/themes/acerbostrap/images/commentarrow-white.png) }
.commentlist ul { list-style: none }
.comment-reply-link {
position: absolute;
top: 60px;
left: -80px;
width: 50px;
color: #cccccc;
font-size: 13px;
text-align: center;
}
li li .comment-reply-link {
top: 45px;
left: -70px;
}
.comment-author {
font-size: 16px;
font-weight: bold;
}
.comment-date-link {
position: absolute;
top: 5px;
right: 10px;
font-size: 11px;
text-align: right;
line-height: 13px;
}
.comment-date-link a { color: #aaaaaa }
.comment-edit-link { }
.comment-delete-link { }
.comment-spam-link { }
.comment-text { }
.comment-pagination {
margin-top: 10px;
padding-left: 20px;
}
.comment-pagination a,
.comment-pagination .current {
display: inline-block;
padding: 3px 12px;
text-decoration: none;
border: solid 1px #dddddd;
}
.comment-pagination a:hover {
color: #ffffff;
background: #fb4834;
border: solid 1px #fb4834;
}
.comment-pagination a { background: #fcfcfc }
#comment-pagination-1 { border-bottom: solid 1px #dddddd }
#comment-pagination-1 .current { border-bottom: solid 1px #ffffff }
#comment-pagination-1 a,
#comment-pagination-1 .current {
margin-bottom: -1px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
#comment-pagination-2 { border-top: solid 1px #dddddd }
#comment-pagination-2 .current { border-top: solid 1px #ffffff }
#comment-pagination-2 a,
#comment-pagination-2 .current {
margin-top: -1px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
#respond {
padding-bottom: 40px;
margin: 30px 0 20px 0;
border-bottom: solid 1px #eee;
}
#reply-title { margin: 0 0 10px 0 }
#commentform { }

#comment-form { width: 100% }
#comment-author { }
#comment-url { }
#comment-email { }
.logged-in-as { }
#comment { }
.form-submit { }
#submit {
display: inline-block;
padding: 5px 10px;
color: #333333;
font-size: 14px;
text-align: center;
text-decoration: none;
outline: none;
cursor: pointer;
border-radius: 5px;
border: solid 1px #dddddd;
background: #eeeeee;
}
#submit:hover {
color: #ffffff;
border: solid 1px #fb4834;
background: #fb4834;
}
.site-content span + .entry-date:before,
.full-size-link:before,
.parent-post-link:before,
span + .byline:before,
span + .comments-link:before,
span + .edit-link:before,
.widget_twentyfourteen_ephemera .entry-title:after { content: "\0020\007c\0020" }
.comments-area { padding: 0 10px }
.comment-reply-title,
.comments-title {
font: 900 16px/1.5 Lato, sans-serif;
margin: 0;
text-transform: uppercase;
}
.comment-list {
list-style: none;
margin: 0 0 48px 0;
}
.comment-author {
font-size: 14px;
line-height: 1.7142857142;
}
.comment-list .reply,
.comment-metadata {
font-size: 12px;
line-height: 2;
text-transform: uppercase;
}
.comment-list .reply { margin-top: 24px }
.comment-author .fn { font-weight: 900 }
.comment-author a { color: #2b2b2b }
.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a { color: #767676 }
.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover { color: #41a62a }
.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
border-top: 1px solid rgba(0, 0, 0, 0.1);
margin-bottom: 24px;
padding-top: 24px;
}
.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child { border-top: 0 }
.comment-author { position: relative }
.comment-author .avatar {
border: 1px solid rgba(0, 0, 0, 0.1);
height: 18px;
padding: 2px;
position: absolute;
top: 0;
left: 0;
width: 18px;
}
.bypostauthor > article .fn:before {
content: "\f408";
margin: 0 2px 0 -2px;
position: relative;
top: -1px;
}
.says { display: none }
.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply,
.comment-metadata { padding-left: 30px }
.comment-edit-link { margin-left: 10px }
.comment-edit-link:before { content: "\f411" }
.comment-reply-link:before,
.comment-reply-login:before {
content: "\f412";
margin-right: 2px;
}
.comment-content {
-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hyphens: auto;
hyphens: auto;
word-wrap: break-word;
}
.comment-content ul,
.comment-content ol { margin: 0 0 24px 22px }
.comment-content li > ul,
.comment-content li > ol { margin-bottom: 0 }
.comment-content > :last-child { margin-bottom: 0 }
.comment-list .children {
list-style: none;
margin-left: 15px;
}
.comment-respond {
margin-bottom: 24px;
padding: 0;
}
.comment .comment-respond { margin-top: 24px }
.comment-respond h3 {
margin-top: 0;
margin-bottom: 24px;
}
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code { color: #767676 }
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
font-size: 14px;
line-height: 1.7142857142;
}
.no-comments {
font-size: 16px;
font-weight: 900;
line-height: 1.5;
margin-top: 24px;
text-transform: uppercase;
}
.comment-form label { display: block }
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] { width: 100% }
.form-allowed-tags,
.form-allowed-tags code {
font-size: 12px;
line-height: 1.5;
}
.required { color: #c0392b }
.comment-reply-title small a {
color: #2b2b2b;
float: right;
height: 24px;
overflow: hidden;
width: 24px;
}
.comment-reply-title small a:hover { color: #41a62a }
.comment-reply-title small a:before {
content: "\f405";
font-size: 32px;
}
.comment-navigation {
font-size: 12px;
line-height: 2;
margin-bottom: 48px;
text-transform: uppercase;
}
.comment-navigation .nav-next,
.comment-navigation .nav-previous { display: inline-block }
.comment-navigation .nav-previous a { margin-right: 10px }
#comment-nav-above {
margin-top: 36px;
margin-bottom: 0;
}

/******************************************************************
RESPONSIVE
******************************************************************/

/* ===[ Per tutti i monitor fino a 767 ]=== */
@media only screen and (max-width: 767px) {
    #banner ul li div .teaser {
        font-size: 16px;
    }

    #banner ul li div a {
        font-size: 16px;
    }

    #banner ul li:nth-child(2) {
        display: none;
    }

    #banner ul li:nth-child(3) {
        display: none;
    }

    #avviso h1 {
        font-size: 25px !important;
    }

    #avviso h2, #avviso h3 {
        font-size: 22px !important;;
    }

    #avviso h4, #avviso h5 {
        font-size: 20px !important;;
    }

    .post-bodycopy {
        font-family: -apple-system, Roboto, AdobeBlank, "Segoe UI", sans-serif;
    }

    .post-bodycopy p {
        text-align: justify;
        line-height: 1.5em;
    }

    .fullvideo-video-playing {
        top: 0;
    }

    .fullvideo-page-container {
        height: 37px;
    }

    .fullvideo-video-icon {
        line-height: 37px;
        padding: 0 5px;
    }

    .fastlink.col-sm-12 {
        margin-bottom: 20px
    }

    hr.styled {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_xs.png) center -10.5px
    }

    /*  #featured-outer {
        background: #fff
      }*/
    #sliderpartner.fastlink.col-sm-12 {
        margin-bottom: 0
    }

    .navbar-default .navbar-brand {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_xs.png) no-repeat -10px -36px;
        padding-left: 65px;
        margin: 5px 0 0 5px;
        font-size: 1.2em;
        font-size: 5vw;
    }

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #fb4834;
        background-color: transparent;
    }

    .navbar-default .navbar-brand:focus {
        color: #333;
        background-color: transparent;
    }

    .post-footer span {
        display: block;
        margin: 10px 0 0 0;
    }

    #content {
        margin-bottom: 20px
    }

    #christmas {
        background: #fff url('/wp-content/themes/acerbostrap/images/christmas.png') 0 0 no-repeat;
        height: 60px;
    }

    #breadcrumbs1-bg {
        z-index: 300;
        width: 100%;
        left: 0;
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .breadcrumbs {
        white-space: nowrap;
        height: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateZ(0px);
    }

    .post-bodycopy ul, .post-bodycopy ol {
        margin-left: 1.75em;
        padding: 0;
    }

    .post-bodycopy .btn {
        white-space: normal !important;
        word-wrap: break-word;
    }

    .post-bodycopy h3, .post-bodycopy h2 {
        line-height: 1.2em
    }

    .circolare-head {
        font-size: 18px
    }

    .post__loop {
        vertical-align: top
    }

    .post__loop .post-share {
        text-align: left;
        padding: 10px 0 0 0;
    }

    .post__loop .post-share a .fa-lg {
        font-size: 1.6em;
    }

    .post__loop a.share-link {
        margin-right: 20px;
        margin-left: 0;
    }

    .post__loop--date {
        text-align: center;
        display: inline-block;
        width: 13%;
        vertical-align: top;
        border-right: 0;
        line-height: 20px;
    }

    .post__loop--excerpt {
        display: inline-block;
        width: 85%;
        border-left: 1px solid rgb(153, 153, 153);
        padding: 0px 10px;
    }

    #aggiornamenti .label {
        padding: .1em .4em;
        font-size: 65%;
        margin: 0 5px 0 0;
    }

    #tab-container ul.nav-pills {
        margin: 20px 0;
        border-bottom: 1px dotted black;
    }

    #avviso {
        font-size: 13px
    }

    .inevidenza-container:after {
        padding-bottom: 49%
    }

    .partner-container:after {
        padding-bottom: 27%
    }

    .slider-container:after {
        padding-bottom: 59%
    }

    body {
        padding-top: 57px;
        /*background: #fff;*/
    }

    .blocchetto {
        padding: 0 10px
    }

    .dotted {
        border-right: 0;
        border-left: 0;
        background: #fff;
    }

    .bd-left {
        border-left: 0
    }

    .bd-left-minus {
        border-left: 0;
        margin-left: 0;
    }

    .bd-right {
        border-right: 0
    }

    .bd-right-minus {
        border-right: 0;
        margin-right: 0;
    }

    #breadcrumbs1 {
        padding: 12px 0 12px 5px
    }

    .breadcrumbs .bc-current, .breadcrumbs .bc-pagenumber {
        margin-left: 5px
    }

    .breadcrumbs ol li a {
        margin: 0 5px
    }

    .page-header {
        margin: 0 0 20px 0
    }

    .page-swipe .owl-carousel {
        margin-top: 0
    }

    #slider-bg {
        min-height: 190px;
        position: relative;
    }

    .page-swipe .owl-carousel div.wrap {
        max-width: 860px
    }

    .page-swipe .swipe-over {
        width: 100%;
        padding: 10px 0 0 20px;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 41%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.93)), color-stop(41%, rgba(0, 0, 0, 0.63)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 41%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 41%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 41%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.63) 41%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed000000', endColorstr='#00000000', GradientType=0);
        /* IE6-9 */
    }

    .page-swipe .swipe-over h1 {
        font-size: 2em
    }

    .page-swipe .swipe-over p {
        font-size: 1.6em;
        line-height: 1.2em;
    }

    .page-swipe nav {
        bottom: 5px
    }

    .owl-slider.owl-carousel {
        -webkit-box-shadow: 0 4px 10px -8px black;
        -moz-box-shadow: 0 4px 10px -8px black;
        box-shadow: 0 4px 10px -8px black;
    }

    .owl-certificazioni.owl-carousel .media-left {
        float: left;
        width: 100%;
        padding-bottom: 15px;
        padding-right: 0;
    }

    .owl-certificazioni.owl-carousel .media-body {

    }

    .owl-certificazioni.owl-carousel .owl-item img {
        margin: 0 auto;
        max-width: 150px;
    }

    .owl-partner.owl-carousel .owl-item img {
        margin: 0 auto;
        max-width: 400px;
    }

    ul#menu1, a.rsslink, img.avatar, .post-categories i {
        display: none
    }

    .maxistop {
        max-width: 1280px;
        min-width: 0px;
    }

    .menu1-mobile {
        display: block
    }

    .commentlist li > div {
        margin-left: 0 !important
    }

    a.post-readmore {
        color: #fb4834;
        background: #f7f7f7;
        border: solid 1px #eee;
    }

    .post-bodycopy div.thumb-shadow {
        margin-left: 0;
        padding-bottom: 0;
        background-image: none !important;
    }

    div.post-thumb {
        padding: 0 !important;
        border: none;
        background: none;
    }

    .post-bodycopy .post-thumb span {
        display: none
    }

    .widget .searchform .field {
        max-width: 100% !important;
        padding: 10px;
    }

    .widget_categories > ul > li, .widget_archive > ul > li, .widget_custom_taxonomy_widget > ul > li, .widget_meta > ul > li {
        display: inline-block
    }

    .widget > ul > li {
        margin: 0;
        padding: 7px 10px 7px 10px;
        border-bottom: solid 1px #eeeeee;
    }

    .widget > ul > li:before {
        margin-left: -10px;
        content: '\203a';
    }

    .navbar-default {
        background-color: #fff
    }

    #avviso .alert {
        font-size: 14px
    }

    .banner p a {
        font-size: 35px;
    }

    .acerbo-entry .post-share {
        padding: 10px 0;
    }

    .post-share.post-share-home {
        padding: 5px 0;
    }

    .post-share.post-share-home a .fa-lg {
        font-size: 1.6em;
    }

    .post-share {
        text-align: center;
    }

    .post-share a .icon-facebook {
        opacity: 1;
        font-size: 2em;
    }

    .post-share a .icon-twitter {
        opacity: 1;
        font-size: 2em;
    }

    .post-share a .icon-googleplus {
        opacity: 1;
        font-size: 2em;
    }

    .post-share a .icon-whatsapp {
        color: #43d854;
        opacity: 1;
        font-size: 2em;
    }

    .hp_text {
        padding: 10px 20px;
    }

    #docente .owl-theme .owl-controls {
        margin-top: 10px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 2%;
        right: 2%;
        top: 85%;
    }

    div.left {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    div.right {
        float: none;
        width: 100%;
    }

    #docente a {
        line-height: 23px;
    }

    .owl-dots {
        display: block;
    }

    .owl-nav {
        display: none;
    }


    /*
      #featured-inner {
        display: block
      }
      #featured-outer {
        height: 100%
      }
      #featured img {
        width: 100px;
        height: 100px;
        float: right;
        margin: 0 5px;
      }
      #featured div.featured-text {
        position: relative;
        background-color: transparent;
      }
      #featured div.featured-text h2 a {
        color: #fa2b13
      }
      #featured div.featured-text h2 {
        padding: 0 0 0 10px
      }
      #featured div.featured-text p {
        color: black
      }
      */
}

/* ===[ Per tutti i monitor da 768 a 992 pixel ]=== */
@media only screen and (min-width: 768px) {
    a.share-link {
        margin-left: 10px;
    }

    hr.styled {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_sm.png) center -10.5px
    }

    #menu1 > li {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_sm.png) -10px -148.5px
    }

    #menu2-wrapper ul.menu {
        font-size: 1.4em
    }

    #menu2-wrapper {
        overflow: hidden;
        font-size: 13px;
        padding: 5px 0;
    }

    #menu2-wrapper ul.menu {
        font-size: 1.4em
    }

    #headline {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_sm.png) -10px -42.5px;
        padding-left: 190px;
        padding-bottom: 10px;
    }

    .headouter {
        text-align: center;
        padding-bottom: 10px;
    }

    .headinner {
        display: inline-block
    }

    .widget_categories > ul > li, .widget_archive > ul > li, .widget_custom_taxonomy_widget > ul > li, .widget > ul > li {
        margin: 0;
        padding: 7px 10px 7px 10px;
        border-bottom: solid 1px #eeeeee;
    }

    .widget > ul > li:before {
        margin-left: -10px;
        content: '\203a \00a0\00a0';
    }

    .widget > ul > li {
        padding-left: 10px
    }

    #tagline {
        font-size: 1.45em
    }

    #menu1 a {
        padding: 10px 12px 15px 12px;
        font-size: 1.3em;
    }

    .maxistop {
        max-width: 937px;
        min-width: 768px;
    }

    #slider-bg {
        min-height: 339px
    }

    .slider-container:after {
        padding-bottom: 42%
    }

    .page-swipe .owl-carousel div.wrap {
        max-width: 937px
    }

    .page-swipe .swipe-over h1 {
        font-size: 2em
    }

    .page-swipe .swipe-over p {
        font-size: 1.5em;
        margin: 0 0 0.67em 0;
    }

    .owl-certificazioni .media-left {
        min-width: 160px
    }

    .owl-appuntamenti.owl-carousel {
        display: block;
        padding: 15px 0;
    }

    /*  #featured div.featured-text h2 {
        padding: 5px 10px 0 10px;
        margin: 0;
      }
      #featured div.featured-text {
        position: relative;
        background-color: #fff;
        top: -40px;
        width: 96%;
        margin: 0 auto;
        box-shadow: 0 1px 3px rgba(0,0,0,0.4);
        border: 1px solid #fff9f0;
      }
      #featured div.featured-text p {
        padding: 10px 10px
      }
      #featured img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
      #featured a:hover {
        text-decoration: none
      }
      #featured .slider-media-open a:hover {
        color: #fa2b13
      }*/
    #content {
        margin-bottom: 50px
    }

    .banner-teaser ul li div a {
        font-size: 18px;
    }

    .banner-teaser ul li div .teaser a {
        font-size: 18px;
    }

    #banner ul li:nth-child(2) {
        display: none;
    }

    #banner ul li:nth-child(3) {
        display: none;
    }

}

/* ===[ Per tutti i monitor da 992 a 1200 pixel ]=== */
@media only screen and (min-width: 992px) {

    hr.styled {
        background-image: transparent url(/wp-content/themes/acerbostrap/images/sprite_md.png) center -10.5px
    }

    #menu1 > li {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_md.png) -10px -159px
    }

    #headline {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_md.png) no-repeat -10px -40px;
        padding-left: 145px;
    }

    .headouter {
        text-align: left;
        padding-bottom: 0;
    }

    #menu2-wrapper ul.menu {
        font-size: 1.4em;
        font-size: 1.5vw;
    }

    #tagline {
        font-size: 2em
    }

    #sitetitle {
        font-size: 3em
    }

    #menu2 > li > a {
        padding: 0 7px
    }

    #menu1 a, #menu1-smooth a {
        padding: 12px 15px 20px 15px;
        font-size: 1.6em;
    }

    /*#featured-outer {
      height: 300px;
      margin: 0 auto;
    }
    #featured-inner {
      display: none;
      position: relative;
    }
    #featured div.featured-text {
      position: absolute;
      background-color: rgba(0,0,0,0.8);
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      top: auto;
      margin: 0 auto;
      box-shadow: none;
      border: none;
    }
    #featured div.featured-text h2 {
      display: block;
      margin-bottom: 5px;
      padding: 10px 10px 0;
      text-shadow: none;
    }
    #featured a {
      color: #fff
    }
    #featured div.featured-text p {
      color: #fff
    }*/
    #inprimopiano .grid-item {
        margin: 5px 0;
    }

    #inprimopiano .grid-item img {
        height: 125px;
    }

    #inprimopiano .grid-item.grid-item--width2 img {
        height: 200px;
    }

    #inprimopiano .grid-item.grid-item--width2 h2 {
        margin-top: 15px;
        margin-bottom: 7px;
    }

    #inprimopiano .grid-item .grid-paragraph {
        overflow: hidden;
    }

    #inprimopiano .grid-item.grid-item--width2 .grid-paragraph {
        overflow: hidden;
    }

    .grid-item .post-share {
        padding: 0;
    }

    .maxistop {
        max-width: 1022px;
        min-width: 992px;
    }

    #slider-bg {
        min-height: 370px
    }

    .slider-container:after {
        padding-bottom: 36%
    }

    .page-swipe .owl-carousel div.wrap {
        max-width: 1022px
    }

    .page-swipe .swipe-over h1 {
        font-size: 2.5em
    }

    .page-swipe .swipe-over p {
        font-size: 2em;
        margin: 0 0 0.67em 0;
    }

    .page-swipe .swipe-over {
        width: 48%
    }

    .owl-certificazioni .media-left {
        min-width: 150px
    }

    #mbCont > nav > div.container {
        padding-left: 0;
        padding-right: 0;
    }

    /*  #featured div.featured-text {
        max-height: 160px
      }*/
    .lt-ie9 #featured img {
        display: none
    }

    /*
    .banner-teaser ul li div a {
        font-size: 16px;
    }

    .banner-teaser ul li div .teaser a {
        font-size: 16px;
    }
    */
    #banner ul li div a {
        font-size: 16px;
    }

    #banner ul li div .teaser {
        font-size: 16px;
    }

    #banner ul li:nth-child(3) {
        display: inline-block;
    }

}

/* ===[ Per tutti i monitor da 1200 a infinito ]=== */
@media only screen and (min-width: 1200px) {
    hr.styled {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_lg.png) center -10.5px
    }

    #menu1 > li {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_lg.png) -10px -168px
    }

    #headline {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_lg.png) no-repeat -10px -35px;
        padding-left: 160px;
    }

    #menu1 > li {
        background: transparent url(/wp-content/themes/acerbostrap/images/sprite_lg.png) -10px -168px
    }

    #menu2-wrapper ul.menu {
        font-size: 1.5em
    }

    #menu2 > li > a {
        padding: 0 10px
    }

    #menu2-wrapper {
        padding: 10px 0
    }

    #sitetitle {
        font-size: 4em
    }

    .maxistop {
        max-width: 1280px;
        min-width: 1200px;
    }

    #slider-bg {
        min-height: 400px
    }

    .slider-container:after {
        padding-bottom: 31%
    }

    .page-swipe .owl-carousel div.wrap {
        max-width: 1280px
    }

    .page-swipe .swipe-over h1 {
        font-size: 3em
    }

    .page-swipe .swipe-over p {
        font-size: 2em;
        margin: 0 0 0.67em 0;
    }

    .page-swipe .swipe-over {
        width: 38%
    }

    #mbCont > nav > div.container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .owl-certificazioni .media-left {
        min-width: 130px
    }

    /*
        .banner-teaser ul li div a {
            font-size: 20px;
        }

        .banner-teaser ul li div .teaser a {
            font-size: 20px;
        }
    */
    #banner ul li div a {
        font-size: 20px;
    }

    #banner ul li div .teaser {
        font-size: 20px;
    }

}

/* ===[ Per tutti i monitor fino a 630 ]=== */
@media only screen and (max-width: 640px) {
    .banner-teaser ul li div .teaser a {
        font-size: 15px;
    }

    .banner-teaser ul li div {
        padding: 13px 0px 0 40px;
    }

    .banner-teaser ul li:first-child div {
        padding: 13px 10px 0 10px;
    }

    #inprimopiano .grid-item h2 {
        margin: 10px 0;
    }

    #banner ul li div .teaser {
        font-size: 14px;
    }

    #banner ul li:nth-child(2), #banner ul li:nth-child(3), #banner ul li:last-child {
        display: none;
    }

    #banner ul li div {
        padding: 13px 20px 0 40px;
    }

    #banner ul li:first-child div {
        padding: 13px 10px 0 10px;
    }
}

/* ===[ Per tutti i monitor fino a 335 ]=== */
@media only screen and (max-width: 372px) {
    .banner-teaser ul li div .teaser a {
        font-size: 15px;
    }

    .banner-teaser ul li:nth-child(2) {
        display: none;
    }

    .banner-teaser ul li:nth-child(3) {
        display: none;
    }

    .banner-teaser ul li:last-child {
        display: none;
    }

    .banner-teaser ul li div {
        padding: 13px 0px 0 40px;
    }

    .banner-teaser ul li:first-child div {
        padding: 13px 10px 0 10px;
    }
}

/* ALTEZZA Per tutti i monitor che hanno massimo 600 pixel di altezza
================================================== */
@media only screen and (max-height: 600px) and (orientation: landscape) {
    #slider-bg {
        min-height: 290px
    }

    .slider-container:after {
        padding-bottom: 43%
    }

    .page-swipe .owl-carousel div.wrap {
        max-height: 290px
    }

    .page-swipe .swipe-over h1 {
        font-size: 2em
    }

    .page-swipe .swipe-over p {
        font-size: 1.5em;
        margin: 0 0 0.67em 0;
    }

    .page-swipe nav {
        bottom: 5px
    }
}

/* *****************************************************************
IE 8
*****************************************************************
==================================================
================================================== */
.lt-ie9 #inevidenza img {
    display: none
}

.lt-ie9 #inevidenza .page-about {
    background-color: white
}

.lt-ie9 #inevidenza .col3-img {
    height: 50px
}

.lt-ie9 #inevidenza h3 a {
    color: #fa2b13;
    text-decoration: none;
}

.lt-ie9 #inevidenza h3 a:hover {
    color: #be1604;
    text-decoration: underline;
}

.lt-ie9 #sliderpartner {
    display: none
}

/*.lt-ie9 #featured-inner {
  display: block
}
.lt-ie9 #featured-outer {
  height: 500px
}
.lt-ie9 #featured img {
  width: 100px;
  height: 100px;
  float: right;
  margin: 0 5px;
}
.lt-ie9 #featured div.featured-text {
  position: relative;
  background-color: transparent;
  top: 10px;
}
.lt-ie9 #featured div.featured-text h2 a {
  color: #fa2b13;
  text-decoration: none;
}
.lt-ie9 #featured div.featured-text h2 a:hover {
  color: #be1604;
  text-decoration: underline;
}
.lt-ie9 #featured div.featured-text h2 {
  padding: 0 0 0 10px
}
.lt-ie9 #featured div.featured-text p {
  color: black
}*/
/* *****************************************************************
CONTACT FORM 7
*****************************************************************/
div.wpcf7 img.ajax-loader {
    display: inline-block;
}
